<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/cb/ce/67/cbce6718be5470d2e4e4673dae2a2c41.jpg);">
  <div class="container">
    <h1><strong>Here you will find the perfect apartment for you</strong> !</h1>
    <p>For one night with your love or to enjoy with friends</p>
    <a class="btn btn-secondary" href="#">See more</a>
  </div>
</div>
